<html>
  <head>
  </head>

  <body style="background-color: #D1DEEC; color: #4A4A4A; font-family: HelveticaNeue;">

    <div class="WelcomePage">
      <h1 style="font-size: 26px; line-height: 32px;">Distributed<br/ >
        Autonomous<br />
        <del>Party</del> BoatyMcBoatface
      </h1>

      <h3 style="font-size: 16px; line-height: 18px;">A 21st century experiment in democracy</h3>

      <button style="font-size: 16.95px;color: #4A90E2;line-height: 20px;border: 2px solid #4A90E2;border-radius: 8px;background:none;">JOIN IN</button>

      <p>Or scroll to learn more...</p>
    </div>

    <div class="MoreInfoPage">
      <h2>Pivotal Time in Human History</h2>

      <p>A lot of people feel like the current system isn’t working for them.</p>

      <p>We’re exploring ideas to strengthen democracy and promote freedom.</p>

      <p>
        Digital voting,<br />
        direct democracy,<br />
        full transparency.
      </p>

      <p>Built on the blockchain with smart contracts.</p>

      <h4>We’re all in this together</h4>

      <p>Take part in a solution:</p>

      <button style="font-size: 16.95px; color: #4A90E2; line-height: 20px; background: rgba(250,250,250,0.40); border: 2px solid #4A90E2; border-radius: 8px;">Come to our party.</button>
    </div>

    <div class="ctd-container" style="visibility:hidden">
      <div class="ctd-loading">
        <div class="ctd-bounce1"></div>
        <div class="ctd-bounce2"></div>
        <div class="ctd-bounce3"></div>
      </div>
      <span class="cdt-bar" data-ctd-campaign="CMP1BC1BB872AE34C50A0E3CB95745D6F32"></span>
      <ul class="cdt-details">
        <li>
          <span class="cdt-number_of_contributors"></span>
          <span class="cdt-small">backers</span>
        </li>
        <li>
          <span class="cdt-raised_amount" data-format_money="$ :, :0:."></span>
          <span class="cdt-small">of <span class="cdt-goal_dollars" data-format_money="$ :, :0:."></span></span>
        </li>
        <li>
          <span class="cdt-expiration_date" data-format_date="days_left"></span> <span class="cdt-small">days left</span>
        </li>
      </ul>
      <button class="cdt-btn" data-ct-checkout="crowdocracy.crowdocracy">Contribute now!</button>
    </div>


    <script type="text/javascript" src="https://pro.tilt.com/checkout-1-3-0.js"></script>
    <script type="text/javascript" src="https://pro.tilt.com/crowdfunding-0-0-1.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44233736-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
