<html>
  <head>
    <title>The DAP</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Athiti:400,500">
    <link rel="stylesheet" type="text/css" href="style/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="The DAP"/>
    <meta property="og:url" content="https://thedap.org"/>
    <meta property="og:description" content="A 21st century experiment in democracy"/>
    <meta property="og:image" content="https://cloud.githubusercontent.com/assets/6340841/16167934/e43b3376-34b0-11e6-9a48-427b1f56897e.png"/>
  </head>

  <body>

    <div class="WelcomePage page">
      <h1>Decentralized<br/ >
        Autonomous<br />
        <del>Party</del> BoatyMcBoatface
      </h1>

      <h3>A 21st century experiment in democracy</h3>

      <button class="button" id="join-in" onclick="scrollToPayment()">Let's party</button>

      <p class="scrollToLearn">Or scroll to learn more...</p>
    </div>

    <div class="MoreInfoPage page">
      <h2>Pivotal Time in Human History</h2>

      <p>A lot of people feel like the current system isn’t working for them.</p>

      <p>We’re exploring ideas to strengthen democracy and promote freedom.</p>

      <ul id="cornerstones">
        <li>Digital Voting,</li>
        <li>Direct Democracy,</li>
        <li>Full Transparency.</li>
      </ul>

      <p>Built on the blockchain with smart contracts.</p>

      <h4>We’re all in this together.</h4>

      <p>Take part in a solution:</p>

      <!-- <button class="button" id="come-to-party" onclick="scrollToPayment()">Come to the party.</button> -->
      <form action="https://docs.google.com/forms/d/1JomhpZFc0AojjUBUW9W1XS80klNwHkOKXxkCoVclNsc/formResponse" target="_self" method="POST" id="mG61Hd">
        <input class="button" type="submit" value="sign up"></input>
      </form>
    </div>


    <div class="page" id="payment-widget">
      <h2>Come to our Party — July 23rd</h2>

      <p>Tickets are $27. This gives you:</p>

      <ul>
        <li>access to this one-time event</li>
        <li>ability to make & vote on proposals to spend everyone's $27 for the party</li>
        <li>bragging rights of historic proportions</li>
      </ul>

        <div class="ctd-container">
           <div class="ctd-loading"> 
            <div class="ctd-bounce1"></div> 
            <div class="ctd-bounce2"></div> 
            <div class="ctd-bounce3"></div> 
        </div> 
        <span class="cdt-bar" data-ctd-campaign="CMPF97A9587859A43DB930A3D7F84BA6489"></span> 
        <ul class="cdt-details"> 
            <li> 
                <span class="cdt-number_of_contributors"></span> 
                <span class="cdt-small">partiers</span> 
            </li> 
            <li> 
                <span class="cdt-raised_amount" data-format_money="$ :, :0:."></span> 
                <span class="cdt-small">of 
                    <span>$2,700</span>
                </span> 
                </li> 
            <li> 
                <span class="cdt-expiration_date" data-format_date="days_left"></span> 
                <span class="cdt-small">days left</span> 
            </li> 
        </ul> 
        <button class="button tilt-button" data-ct-checkout="crowdocracy.the-dap">Just take my money!</button>
        </div>
      <p class="question"><a href="https://gitter.im/Crowdocracy/thedap">Ask a Question | Join the Conversation</a></p>
    </div>


    <script>
      function scrollToPayment() {
        var payment = document.getElementById('payment-widget');
        zenscroll.to(payment);
      }
    </script>

    <script type="text/javascript" src="https://pro.tilt.com/checkout-1-3-0.js"></script>
    <script type="text/javascript" src="https://pro.tilt.com/crowdfunding-0-0-1.js"></script>

    <script type="text/javascript" src="static/lib/zenscroll.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44233736-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
